- var logo = 'logo.svg'

.converter__logo.step.show(data-step='step-3')
    img(src='./assets/img/' + logo)
.converter__address.step.show(data-step='step-3') Литейный просп., 26,
    br
    | Санкт-Петербург