include ../inc/_mixins

-
    var banks = {
        '1': {
            'title': 'Тинькофф банк',
            'logo': 'tinkoff'
        },
        '2': {
            'title': 'Альфа-Банк',
            'logo': 'alfabank'
        },
        '3': {
            'title': 'Сбербанк',
            'logo': 'sber'
        },
        '4': {
            'title': 'ВТБ',
            'logo': 'vtb'
        },
        '5': {
            'title': 'Райффайзен Банк',
            'logo': 'raiffeisen'
        },
        '6': {
            'title': 'Открытие',
            'logo': 'otkritie'
        }
    }

.converter__list.step(data-step='step-2')
    - var i = 0;
    for bank in banks
        - i++
        - var classList = i < 4 ? 'show' : '';
        .converter__list-item(class=classList)
            input(type='radio', name="banks", id='bank-' + i)
            label(for='bank-' + i).btn.btn--empty.btn--md.btn--wide
                .btn__icon.btn__icon--left.btn__icon--circle
                    +img(bank.logo)
                .btn__text= bank.title
                .btn__icon.btn__icon--sm.btn__check
                    +img('tick')

    .converter__list-item.show
        button.btn.btn--empty.btn--md.btn--wide(data-toggle='more')
            .btn__icon.btn__icon--left.btn__icon--circle
                +img('dots')
            .btn__text Другой банк
            .btn__icon.btn__icon--sm.btn__check
                +img('tick')