footer.footer
  .container
    .footer__row
      .footer__copy © 2022 Russian Coin Foundation
      .footer__tel
        a(href='tel:+78123138815') +7 (812) 313-88-15

      .footer__socials.socials
        a(href='https://t.me/+vozge7PvEe0yOTY6', target="_blank").socials__item
          .socials__icon
            img(src='/assets/img/tg.svg')
        //a(href='#').socials__item
        //  .socials__icon
        //    img(src='./assets/img/fb.svg')
        //a(href='#').socials__item
        //  .socials__icon
        //    img(src='./assets/img/tw.svg')
        //a(href='#').socials__item
        //  .socials__icon
            img(src='./assets/img/vk.svg')
      .footer__policy
        a(href='/privacy/') Политика обработки персональных данных

include popup