include ../../inc/_mixins
form.form(action="/mail.php" novalidate="novalidate" method="POST")
  .form__body
    .form__title.h4=formTitle
    if formSubtitle
      .form__subtitle=formSubtitle
    +input-mixin('name', 'ФИО*')
    +input-mixin('tel', 'Телефон*')
    +input-mixin('company', 'Название компании')
    +input-mixin('message', 'Сообщение')
    button(type="submit").btn.btn--md.btn--full Отправить
    .form__policy Ввод номера телефона подтверждает ваше согласие
      |
      br
      |
      a(href='/policy/') c условиями передачи информации
