include ../inc/_mixins

.loader.step(data-step='step-3')
    .loader__ring
        +img('loader')
    .loader__text Ожидаем ответа от банка....
    .loader__success
        +img('loader_check')
    .loader__response Успешно!