.mobile-menu-wrap
  .mobile-menu-wrap__inner
    .mobile-menu
      .mobile-menu__header
        span.logo
          img(src='/assets/img/svg/logo.svg')
        .cross.mobile-menu__close
      .mobile-menu__body
        //ul.menu.mobile-menu__list
        //  each val, index in menu
        //    li
        //      a(href=val)=index
      .mobile-menu__footer
        a(href="mailto:support@rucoinfoundation.ru") support@rucoinfoundation.ru
