-
    var payments = {
        '1': {
            'title': 'СБП',
            'logo': 'sbp'
        },
        '2': {
            'title': 'ЯPay',
            'logo': 'yapay'
        },
        '3': {
            'title': 'Со счета телефона',
            'logo': 'mobile'
        }
    }

.converter__list.step.show(data-step='step-1')
    p.converter__list-title Выберите способ оплаты
    - var i = 0;
    each payment in payments
        - i++
        .converter__list-item.show
            input(type='radio', name="payments", id='payment-' + i)
            label(for='payment-' + i).btn.btn--empty.btn--md.btn--wide
                .btn__icon.btn__icon--left.btn__icon--circle
                    +img(payment.logo)
                .btn__text= payment.title
                .btn__icon.btn__icon--sm.btn__check
                    +img('tick')
