form.search.step(action='' method='' data-step='step-2')
    .search__title Выберите банк
    input.search__field(type='text' name='s' placeholder='Поиск' value='')
    button.search__submit(type='submit')
        svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            circle(cx='10.5' cy='10.5' r='6.75' stroke='#61788C' stroke-opacity='0.4' stroke-width='1.5')
            path(d='M15 15L21 21' stroke='#61788C' stroke-opacity='0.4' stroke-width='1.5')
