meta(charset="utf-8")
title='itpay'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(rel="stylesheet", href="./assets/css/app.min.css?v=1")