.footer {
  padding: 40px 0;
  position: relative;

  &__row {
    @include flex($fd: column);

    @include media-md {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &:after {
    @include absolute($l: 0, $r: 0, $t: 0);
    content: '';
    height: 1px;
    background: rgba(97, 120, 140, 0.2);
  }

  &__copy,
  &__policy,
  &__tel {
    @include font($fz: 12px, $lh: 18px);

    a {
      color: $c-text;

      @include hover {
        color: $c-brand;
      }
    }
  }
}