include ../inc/_mixins

doctype html
html(lang='ru')
    head
        include ../inc/_head
    body.main-page
        .converter-wrap
            .converter
                .converter__header
                    include ../blocks/address
                    include ../blocks/price
                    include ../blocks/search

                .converter__body
                    include ../blocks/payments
                    include ../blocks/banks
                    include ../blocks/loader
                    include ../blocks/qr

                .converter__footer
                    //STEP 1
                    .converter__btns.step.show(data-step='step-1')
                        button.btn.btn--full.btn--md.btn--wide(data-toggle-step="step-2")
                            .btn__text Выбрать
                            .btn__icon.btn__icon--sm.btn__icon--right
                                +img('arrow_r')

                    //STEP 2
                    .converter__btns.converter__btns--row.step(data-step='step-2')
                        button.btn.btn--empty-brand.btn--md.btn--center(data-toggle-step='step-1')
                            .btn__icon.btn__icon--sm
                                +img('arrow_l')

                        button.btn.btn--full.btn--md(data-toggle-step='step-3')
                            .btn__text Далее
                            .btn__icon.btn__icon--sm.btn__icon--right
                                +img('arrow_r')

                    //STEP 3
                    .converter__btns.step(data-step='step-3')
                        button.btn.btn--empty-brand.btn--md.btn--wide.btn--center(data-toggle-step='step-2')
                            .btn__icon.btn__icon--sm.btn__icon--left
                                +img('arrow_l')
                            .btn__text Назад

                    //STEP 4
                    .converter__btns.converter__btns--col.step(data-step='step-4')
                        button.btn.btn--full.btn--md.btn--wide
                            .btn__text Получить подарок!
                            .btn__icon.btn__icon--sm.btn__icon--right
                                +img('gift')
                        button.btn.btn--empty-brand.btn--md.btn--wide
                            .btn__text Оставить чаевые
                            .btn__icon.btn__icon--sm.btn__icon--right
                                +img('percentage')

                    include ../blocks/powered
        include ../inc/_scripts