h1, h2, h3, h4, h5 {
  font-family: $f-head;
}

h1 {
  @include font($fz: 50px, $lh: 0.95, $fw: 500, $lc: -0.02em);

  @include media-md {
    font-size: 68px;
  }
}

h2,
.h2-style {
  @include font($fz: 36px, $lh: 1.1, $fw: 500, $lc: -0.01em);

  @include media-md {
    font-size: 48px;
  }
}

h3,
.h3-style {
  @include font($fz: 24px, $lh: 1.2, $fw: 500);
  @include media-sm {

  }
  @include media-xl {
    font-size: 26px;
  }
}

p {
  @include font($fz: 16px, $lh: 1.5);
}
