//FONTS
$f-def: 'Inter', sans-serif;
$f-head: 'Manrope', sans-serif;

//MEDIA
$v-xs: 576px;
$v-sm: 768px;
$v-md: 992px;
$v-lg: 1200px;
$v-xl: 1400px;
$v-xxl: 1680px;
$v-xxxl: 1800px;

//COLORS
$c-white: #fff;
$c-black: #0D0F11;
$c-brand: #1E56D9;
$c-text: #1A1A1A;
$c-text-secondary: rgba($c-text, 0.7);
$c-hover: #0745DE;
$c-active: #003AC9;
$c-focus: #0745DE;
$c-error: #F82E55;
$c-disabled: rgba(97, 120, 140, 0.2);
$c-bg-light: #E9F0FF;
$c-border-light: rgba(#61788C, 0.4);
$c-border: rgba(#61788C, 0.6);
$c-light: #F3F4F6;

//SHADOWS
$sh-block: 0px 20px 40px -10px rgba(182, 196, 226, 0.3);
$sh-card: 0px 15px 30px -10px rgba(182, 196, 226, 0.3);;

//BORDER-RADIUS
$br-def: 8px;

//TRANSITION
$t-def: .3s ease-in-out;
$t-fast: .15s ease-in-out;

// CUBIC-BEZIER
$easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
$easeInQuart: cubic-bezier(0.5, 0, 0.75, 0);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
