.btn {

  &--full {
    color: $c-white;
    background: $c-brand;
    border-radius: $br-def;

    @include hover {
      color: $c-white;
      background: $c-hover;
    }

    &:active {
      color: $c-white;
      background: $c-active;
    }

    &:disabled {
      //color: $c-text-disable;
      //background: $c-border;
      pointer-events: none;
    }
  }

  &--empty {
    color: $c-text;
    background: transparent;
    border: 1px solid $c-border;

    @include hover {
      border-color: $c-brand;
      outline: 2px solid $c-brand;
    }

    &:active,
    &.active {
      border-color: $c-brand;
      outline: 2px solid $c-brand;
    }

    &:disabled {
      color: $c-text-secondary;
      background: transparent;
      border-color: $c-disabled;
      pointer-events: none;
    }
  }

  &--empty-brand {
    color: $c-brand;
    background: transparent;
    border: 1px solid $c-brand;

    @include hover {
      border-color: $c-brand;
      outline: 2px solid $c-brand;
    }

    &:active,
    &.active {
      border-color: $c-brand;
      outline: 2px solid $c-brand;
    }

    &:disabled {
      color: $c-text-secondary;
      background: transparent;
      border-color: $c-disabled;
      pointer-events: none;
    }
  }

  &--center {
    justify-content: center;
  }
}
